@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

html {
    font-size: 16px;
    font-family: "Fraunces";
    font-weight: 500;
    margin: 0;
    padding: 0;
}

body {
  background-color: hsl(30, 38%, 92%);
  display: flex; 
  justify-content: center; 
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

main { 
    width: 75%; 
    max-width: 500px;
    font-family: Montserrat;
    margin: 2rem 0;
}

section {
background-color: white;
border-radius: 1rem; 
display: grid; 
grid-template-columns: 1fr 1fr;
}



.BGimg { 
    grid-column: 1 / span 1; 
    border-radius: 1rem 0 0 1rem;
}

img {
    max-width: 100%;
    min-height: 100%;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;

}


.Product_Des {
    border-radius: 0% 5% 5% 0%;
    padding-left: 1rem;    
    padding-right: 1rem; 
    grid-column: 2 / span 1; 
}

h1, p, button {
    margin-top: 1rem;
}

h1, p {
    margin-bottom: 0rem;
}

p, .Original {
    color: hsl(228, 12%, 48%);
}

.toUpperCase {
    text-transform: uppercase;
}

h6 { 
    font-family: "montserrat";
    letter-spacing: 0.3rem;
}
.prices {
    display: flex;
    align-items: baseline;
    margin: 0rem;
}

.Discounted {
    margin-right: 1rem;
    color:hsl(158, 36%, 37%);
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.Original {
    text-decoration: line-through;
}

button {
    margin-bottom: 1rem;
    border-radius: 1rem;
    border-style: none;
    background-color: hsl(158, 36%, 37%);
    padding: 0.5rem;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

button:hover {
    font-weight: 700;
    background-color: hsl(158, 36%, 17%)
}

svg {
    margin-right: 0.5rem;
}
@media screen and (max-width: 480px) {
   
    
    body {
        align-items: center;
        padding: 0rem 0;
        margin: 0;

    }

    main {
        width: 90%;
    }

section {
    display: grid;
    grid-template: 1fr 1fr / 100%;
    border-radius: 5%; 
}

.BGimg {
grid-row: 1 / span 1;
grid-column: 1 / span 1;
}

img {
    border-top-right-radius: 5%;
    border-bottom-left-radius: 0;
    }

.Product_Des {
grid-row: 2 / span 1;
grid-column: 1 / span 1; 
}}
